
<br><br><br>

<br><br><br>
<div class="container-fluid">

  <div class="card" style="width: 50%;margin: 5px auto;">
    <div class="card-header">
      Edit Annonce
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="annonce.name" id="name" name="name" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label >Description</label>
          <input [(ngModel)]="annonce.description" id="description" name="description" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label >image</label>
          <input [(ngModel)]="annonce.image" name="image" id="image" class="form-control" type="text">
        </div>

        <div class="form-group">
          <label >Select Bien-Immobiliere</label> <br>


          <select class="form-select" aria-label="Default select example">
            <option selected>Select Bien-Immobiliere</option>
            <option value="{{a.idBienimmo}}" *ngFor="let a of bienimmos ">{{a.description}}</option>
          </select>

    </div>




        <button class="btn btn-primary" (click)="save()">Ajouter</button>
      </form>
    </div>
  </div>
</div>

