

<section class="layer plans">
  <section>


    <section class="third lift plan-tier" (click)="checkoutYearly()">


      <h4>1 Year</h4>
      <h6><sup class="superscript">$</sup><span class="plan-price">1199</span><sub></sub></h6>

      <del>1399$</del>


      <ul>
        <li><strong>Unlimited </strong> ads</li>
        <li>14 day <strong>free trial</strong></li>
      </ul>

    </section>




    <section class="third lift plan-tier" (click)="checkoutMonthly()">


      <h4>1 Month</h4>
      <h6><sup class="superscript">$</sup><span class="plan-price">299</span><sub></sub></h6>

      <del>199$</del>


      <ul>
        <li><strong>Unlimited </strong> ads</li>
        <li>14 day <strong>free trial</strong></li>
      </ul>

    </section>





    <div style="clear: both"></div>
  </section>
</section>
