
<br><br><br>

<br><br><br>
<div class="container-fluid">

  <div class="card" style="width: 50%;margin: 5px auto;">
    <div class="card-header">
      Ajouter promorion
    </div>
    <div class="card-body">
      <form #myForm="ngForm" (ngSubmit)="submitForm()">
        <!--<div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="promorion.status" id="name" name="name" class="form-control" type="text">
        </div>-->

        <div class="form-group">
          <label >DateDebut</label>
          <input  id="DateDebut" name="DateDebut" class="form-control" type="date"
                 required minlength="10" appForbiddenName="bob" [(ngModel)]="promorion.dateDebut" #DateDebut="ngModel">

          <div *ngIf="DateDebut.invalid && (DateDebut.dirty || DateDebut.touched)"
               class="alert">
            <div *ngIf="DateDebut.errors?.required" style="color:red">
              Date Debut is required.
            </div>
            <div *ngIf="DateDebut.errors?.minlength" style="color:red">
              DateDebut must be in this form mm/dd/yyyy.
            </div>

          </div>
        </div>

        <div class="form-group">
          <label >DateFin</label>
          <input  name="image" id="image" class="form-control" type="date"
        required minlength="10" appForbiddenName="bob" [(ngModel)]="promorion.dateFin" #dateFin="ngModel">

          <div *ngIf="dateFin.invalid && (dateFin.dirty || dateFin.touched)"
               class="alert">
            <div *ngIf="dateFin.errors?.required" style="color:red">
              dateFin is required.
            </div>
            <div *ngIf="dateFin.errors?.minlength" style="color:red">
              dateFin must be in this form mm/dd/yyyy.
            </div>

          </div>
        </div>


        <div class="form-group">
          <label >Select Annonce</label> <br>
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Annonce</option>
            <option value="{{a.idAnnonce}}" *ngFor="let a of annonces ">{{a.name}}</option>
          </select>

        </div>

        <h3> You will pay $ ! </h3>
        <button class="btn btn-primary" (click)="save()" [disabled]="!myForm.valid">Payer et Lancer demande </button>
      </form>
    </div>
  </div>
</div>

